<html>
    <body>
        <header>
            Cabeçalho
        </header>
        <main>
            @RenderBody()
        </main>
        <footer>
            Roda pé
        </footer>
    </body>
</html>